/* Define mobile styles */
.not-found-container {
    text-align: center;
    padding: 20px;
  }
  
  .not-found-img {
    max-width: 100%;
  }
  
  /* Define desktop styles using a media query for screens wider than 768px */
  @media (min-width: 768px) {
    .not-found-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  
    .not-found-img {
      max-width: 70%;
    }
  }
  